/* ===========================================
                Global CSS
=========================================== */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    color: #173540;
}

.Container {
    max-width: 81.25%;
    width: 73.125rem;
    margin: 0 auto;
}

.primary-button {
    padding: 1rem;
    color: #FFF;
    font-weight: 700;
    border-radius: 0.5rem;
    background: #FF9500;
    border: 0.063rem solid #FF9500;
    position: relative;
    cursor: pointer;
}

.primary-button::before {
    content: url(../Images/searchicon.svg);
    margin-left: 8px;
}

/* ===========================================
            Header Navbar CSS
=========================================== */
header .Container .navBar {
    display: flex;
    justify-content: space-between;
    margin-top: 3.25rem;
}

header .Container .navBar .leftLogo {
    max-width: 11.875rem;
    max-height: 3.125rem;
}

header .Container .navBar .leftLogo img {
    width: 100%;
}

header .Container .navBar .rightNavigation {
    display: flex;
    align-items: center;
}

header .Container .navBar .rightNavigation ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header .Container .navBar .rightNavigation ul a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

header .Container .navBar .rightNavigation ul li:first-child a {
    color: #FF9500;
    font-size: 18px;
    font-weight: 700;
}

/* ===========================================
            Header Hero Section CSS
=========================================== */
header .Container .heroSection {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/Group\ 13\ \(1\)\ \(1\).png");
    border-radius: 1rem;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: fit-content;
    margin: 3.125rem 0;
}

header .Container .heroSection h2 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 6.625rem;
}

header .heroSection p {
    color: #FFF;
    max-width: 42.25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin: 1.5rem auto 3rem auto;
}

/* Header Find Now Container CSS */

header .Container .heroSection .findNowContainer {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto 6.625rem auto;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.30);
}

header .Container .heroSection .findNowContainer form input[type=text] {
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FFF;
    border: 0.063rem solid #fff;
    padding: 1rem;
}

header .Container .heroSection .findNowContainer form input[type=text]::placeholder {
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
}

header .Container .heroSection .findNowContainer form .when {
    width: 10.875rem;
    height: 3.25rem;
    border-radius: .5rem;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    border: 0.063rem solid #fff;
}

header .Container .heroSection .findNowContainer form .type {
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    border: 0.063rem solid #fff;
}

header .Container .heroSection .findNowContainer form button {
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}

header .Container .heroSection .whiteSpace {
    padding: .001rem;
}

/* ===========================================
        Popular Tours Section CSS
=========================================== */
main .Container .popularTourContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6.25rem 0;
}

main .Container .popularTourContainer .leftDemonstrations {
    max-width: 33.75rem;
    max-height: 34.375rem;
}

main .Container .popularTourContainer h2 {
    font-size: 2.5rem;
    font-weight: 800;
}

main .Container .popularTourContainer .leftDemonstrations p {
    font-weight: 400;
    line-height: 1.625rem;
    max-width: 36.063rem;
    margin: 1.5rem 0;
}

main .Container .popularTourContainer .leftDemonstrations ul {
    max-width: 32.813rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    padding-left: 1.25rem;
}

main .Container .popularTourContainer .leftDemonstrations button {
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FF9500;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    border: none;
}

main .Container .popularTourContainer .rightImageSection {
    width: 33.75rem;
    height: 34.375rem;
    border-radius: 1rem;
    background: url(../Images/Rectangle\ 4.png), lightgray 50% / cover no-repeat;
}

/* ===========================================
        destination selection Section CSS
=========================================== */
main .Container .destinationSelection {
    text-align: center;
}

main .Container .destinationSelection h2 {
    font-size: 2.5rem;
    font-weight: 800;
}

main .Container .destinationSelection p {
    max-width: 40.188rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin: 1.5rem auto 3rem auto;
}

main .Container .destinationSelection .placesContainer .row1 {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

main .Container .destinationSelection .placesContainer .row1 .Maldives {
    width: 35.813rem;
    height: 18.75rem;
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 5.png), lightgray 50% / cover no-repeat;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

main .Container .destinationSelection .placesContainer .row1 .Indonesia {
    width: 35.813rem;
    height: 18.75rem;
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 8.png), lightgray 50% / cover no-repeat;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

main .Container .destinationSelection .placesContainer .row2 {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

main .Container .destinationSelection .placesContainer .row2 .Srilanka {
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 6.png), lightgray 50% / cover no-repeat;
    width: 23.375rem;
    height: 17.875rem;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

main .Container .destinationSelection .placesContainer .row2 .NorthAmerica {
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 7.png), lightgray 50% / cover no-repeat;
    width: 29.625rem;
    height: 17.875rem;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

main .Container .destinationSelection .placesContainer .row2 .Kashmir {
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 9.png), lightgray 50% / cover no-repeat;
    width: 17.125rem;
    height: 17.875rem;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

main .Container .destinationSelection .placesContainer .row3 {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

main .Container .destinationSelection .placesContainer .row3 .Bangladesh {
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 11.png), lightgray 50% / cover no-repeat;
    width: 29.563rem;
    height: 18.75rem;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

main .Container .destinationSelection .placesContainer .row3 .Bandarban {
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 11.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    width: 42.063rem;
    height: 18.75rem;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* ===========================================
        why choose us Section CSS
=========================================== */

main .Container .whyChooseUsContainer h2 {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}

main .Container .whyChooseUsContainer p {
    max-width: 40.188rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin: 1.5rem auto 3rem auto;
    text-align: center;
}

main .Container .whyChooseUsContainer .chooseUsUpperCards {
    display: flex;
    gap: 24px;
    margin-bottom: 1.5rem;
}

main .Container .whyChooseUsContainer .chooseUsUpperCardLeft {
    width: 35.813rem;
    min-height: 17.75rem;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 2rem;
}

main .Container .whyChooseUsContainer .chooseUsUpperCards .chooseUsUpperCardLeft h2 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 2rem;
    text-align: left;
}

main .Container .whyChooseUsContainer .chooseUsUpperCards .chooseUsUpperCardLeft p {
    /* max-width: 30.375rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-top: 1rem;
    text-align: left;
}

main .Container .whyChooseUsContainer .chooseUsUpperCards .chooseUsUpperCardRight {
    max-width: 35.813rem;
    min-height: 17.75rem;
    border-radius: 1rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 2rem;

}

main .Container .whyChooseUsContainer .chooseUsUpperCards .chooseUsUpperCardRight h2 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 2rem;
    text-align: left;
}

main .Container .whyChooseUsContainer .chooseUsUpperCards .chooseUsUpperCardRight p {
    /* max-width: 30.375rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-top: 1rem;
    text-align: left;
}

main .Container .whyChooseUsContainer .chooseUslowerCards {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .Container .whyChooseUsContainer .chooseUslowerCards .chooseUsLowerCard {
    max-width: 35.813rem;
    min-height: 17.75rem;
    border-radius: 1rem;
    border: 2px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 2rem;
}

main .Container .whyChooseUsContainer .chooseUslowerCards .chooseUsLowerCard h2 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 2rem;
    text-align: left;
}

main .Container .whyChooseUsContainer .chooseUslowerCards .chooseUsLowerCard p {
    /* max-width: 30.375rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-top: 1rem;
    text-align: left;
}

/* ===========================================
        Bonus Blog Section CSS
=========================================== */

main .Container .recentBlogsContainer{
    margin-top: 6.25rem;
    text-align: center;
}

main .Container .recentBlogsContainer .blogsCards h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

main .Container .recentBlogsContainer .blogsCards p {
    width: 643px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625;
    margin: 1.5rem auto 3rem auto;
}

main .Container .recentBlogsContainer .blogsCards .card1 .headerImage {
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 11.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    width: 42.063rem;
    height: 18.75rem;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

main .Container .recentBlogsContainer .blogsCards .card1 .read {
    color: #FF9500;
}



/* ===========================================
        Deals and discount Section CSS
=========================================== */

main .Container .dealsAndDiscountsContainer {
    margin-top: 6.25rem;
}

main .Container .dealsAndDiscountsContainer h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

main .Container .dealsAndDiscountsContainer p {
    width: 643px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625;
    margin: 1.5rem auto 3rem auto;
}

main .Container .dealsAndDiscountsContainer .discountCards {
    display: flex;
    justify-content: right;
    align-items: center;
    max-width: 73.125rem;
    /* height: 31.25rem; */
    height: fit-content;
    border-radius: 1rem;
    background: url(../Images/Rectangle\ 12.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3.5rem;
    margin-bottom: 1.5rem;
}

main .Container .dealsAndDiscountsContainer .discountCards .discountCard {
    max-width: 36.188rem;
    /* height: 24.313rem; */
    height: fit-content;
    border-radius: 1rem;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 3.125rem;
}

main .Container .dealsAndDiscountsContainer .discountCards .discountCard .cardTopInfo {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 1.5rem;
}

main .Container .dealsAndDiscountsContainer .discountCards .discountCard .cardTopInfo svg path {
    fill: #FF9500;
}

main .Container .dealsAndDiscountsContainer .discountCards .discountCard .cardTopInfo p {
    width: auto;
    line-height: 0;
    margin: 0;
}

main .Container .dealsAndDiscountsContainer .discountCards .discountCard .cardTopInfo .duration {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
}

main .Container .dealsAndDiscountsContainer .discountCards .discountCard .cardTopInfo .members {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
}

main .Container .dealsAndDiscountsContainer .discountCards .discountCard .cardTopInfo .location {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
}

main .Container .dealsAndDiscountsContainer .discountCards .discountCard h2 {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: left;
    margin: 1.625rem 0 1rem 0;
}

main .Container .dealsAndDiscountsContainer .discountCards .discountCard p {
    max-width: 28.25rem;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    text-align: left;
    margin: 0 0 1rem 0;
}

main .Container .dealsAndDiscountsContainer .discountCards .discountCard h3 {
    color: #FF9500;
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 2.375rem;
}

main .Container .dealsAndDiscountsContainer .discountCards .discountCard button {
    width: 9.375rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FF9500;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    border: none;
    cursor: pointer;
}

/* +++++++++++++++++++++++++++++
  Discount card reverse css  
  +++++++++++++++++++++++++++ */

main .Container .dealsAndDiscountsContainer .discountCardsReverse {
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 73.125rem;
    /* height: 31.25rem; */
    height: fit-content;
    border-radius: 1rem;
    background: url(../Images/Group\ 40.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding: 3.5rem;
    margin-bottom: 1.5rem;
}

main .Container .dealsAndDiscountsContainer .discountCardsReverse .discountCardReverse {
    max-width: 36.188rem;
    /* height: 24.313rem; */
    height: fit-content;
    border-radius: 1rem;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 3.125rem;
}

main .Container .dealsAndDiscountsContainer .discountCardsReverse .discountCardReverse .cardTopInfoReverse {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 1.5rem;
}

main .Container .dealsAndDiscountsContainer .discountCardsReverse .discountCardReverse .cardTopInfoReverse svg path {
    fill: #FF9500;
}

main .Container .dealsAndDiscountsContainer .discountCardsReverse .discountCardReverse .cardTopInfoReverse p {
    width: auto;
    line-height: 0;
    margin: 0;
}

main .Container .dealsAndDiscountsContainer .discountCardsReverse .discountCardReverse .cardTopInfoReverse .durationReverse {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
}

main .Container .dealsAndDiscountsContainer .discountCardsReverse .discountCardReverse .cardTopInfoReverse .membersReverse {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
}

main .Container .dealsAndDiscountsContainer .discountCardsReverse .discountCardReverse .cardTopInfoReverse .locationReverse {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
}

main .Container .dealsAndDiscountsContainer .discountCardsReverse .discountCardReverse h2 {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: left;
    margin: 1.625rem 0 1rem 0;
}

main .Container .dealsAndDiscountsContainer .discountCardsReverse .discountCardReverse p {
    max-width: 28.25rem;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    text-align: left;
    margin: 0 0 1rem 0;
}

main .Container .dealsAndDiscountsContainer .discountCardsReverse .discountCardReverse h3 {
    color: #FF9500;
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 2.375rem;
}

main .Container .dealsAndDiscountsContainer .discountCardsReverse .discountCardReverse button {
    width: 9.375rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FF9500;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    border: none;
    cursor: pointer;
}

main .Container .dealsAndDiscountsContainer .buttonLower {
    text-align: center;
}

main .Container .dealsAndDiscountsContainer .buttonLower .allPacks {
    width: 13.125rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FF9500;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    border: none;
}

/* ===========================================
        Perfect places section CSS
=========================================== */

main .Container .perfectPlacesContainer {
    display: flex;
    align-items: center;
    gap: 1.75rem;
    margin: 6.25rem 0;
}

main .Container .perfectPlacesContainer .perfectPlacesLeftDetails {
    max-width: 33.75rem;
    max-height: 34.375rem;
}

main .Container .perfectPlacesContainer .perfectPlacesLeftDetails h2 {
    font-size: 2.5rem;
    font-weight: 800;
}

main .Container .perfectPlacesContainer .perfectPlacesLeftDetails p {
    font-weight: 400;
    line-height: 1.625rem;
    max-width: 36.063rem;
    margin: 1.5rem 0;
}

main .Container .perfectPlacesContainer .perfectPlacesLeftDetails ul {
    max-width: 32.813rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    padding-left: 1.25rem;
}

main .Container .perfectPlacesContainer .perfectPlacesLeftDetails button {
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FF9500;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    border: none;
    margin: 2rem 0;
}

main .Container .perfectPlacesContainer .perfectPlacesRightVideos iframe {
    width: 38.125rem;
    height: 26.5rem;
    border-radius: 1rem;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
}

/* ===========================================
        NewsLetter section CSS
=========================================== */

main .Container .newsletterContainer {
    display: flex;
    gap: 1.5rem;
    margin: 6.25rem 0;
}

main .Container .newsletterContainer .newsletterLeft {
    max-width: 29.625rem;
    height: 26.375rem;
    border-radius: 1rem;
    border: 1px solid #FF9500;
    padding: 2.5rem;
}

main .Container .newsletterContainer .newsletterLeft h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

main .Container .newsletterContainer .newsletterLeft p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin: 1rem 0 0 0;
}

main .Container .newsletterContainer .newsletterLeft .horizontalLine {
    max-width: 100%;
    height: 0.063rem;
    background: rgba(19, 19, 24, 0.10);
    margin: 1.5rem 0;
}

main .Container .newsletterContainer .newsletterLeft input {
    /* width: 24.563rem; */
    width: 100%;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 1rem;
    padding: 1rem;
    border: none;
}

main .Container .newsletterContainer .newsletterLeft .subscribe {
    /* width: 24.563rem; */
    width: 100%;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FF9500;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-top: 0.5rem;
    border: none;
}

main .Container .newsletterContainer .newsletterRight {
    width: 42rem;
    height: 26.375rem;
    border-radius: 1rem;
    background: url(../Images/Rectangle\ 8.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 1.5rem;
    position: relative;

}

main .Container .newsletterContainer .newsletterRight .poster {
    width: 20.25rem;
    height: 7.5rem;
    transform: rotate(-19.628deg);
    border-radius: 1rem;
    background: #FF9500;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 1rem;
    top: 16rem;
    left: 21.4rem;
}

/* ===========================================
        footer section CSS
=========================================== */

footer {
    /* width: 90rem; */
    height: 31.375rem;
    background: rgba(19, 19, 24, 0.05);
}

footer .Container .footerElements {
    text-align: center;
}

footer .Container .footerElements img {

    margin: 6.875rem 0 1rem 0;
}

footer .Container .footerElements p {
    max-width: 48.063rem;
    color: #5A5A5D;
    font-size: 1rem;
    line-height: 1.625rem;
    margin: 0 auto;
}

footer .Container .footerElements .horizontalLine {
    width: 100%;
    height: 0.063rem;
    background: rgba(255, 255, 255, 0.15);
    margin: 1.5rem;
}